.skills-container {
  margin-top: 6rem;
}
.skills-container h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
  position: relative;
}

.skills-container h1::after {
  content: "";
  display: block;
  width: 5%;
  height: 3px;
  background: linear-gradient(90deg, #4f46e5, #38bdf8);
  /* background: linear-gradient(90deg, #f32170, #ff6b08); */
  margin: 0.5rem auto 0;
  border-radius: 5px;
}

.skills-card-container {
  max-width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.skill-card {
  flex: 0 1 calc(33.33% - 2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0rem;
  background-color: #2a2a2a;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover {
  transform: scale(1.05);
  border: 1px solid rgba(133, 133, 195, 0.5);
  box-shadow: 0 0 50px 0 rgba(84, 116, 159, 0.5);
}

.skill-icon {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.8rem;
  background-color: rgba(97, 122, 91, 0.3);
}

.skill-name {
  font-size: 1.2rem;
  font-weight: bold;
}

/* Style for mobile */
@media (max-width: 480px) {
  .skills-card-container {
    margin-top: 3rem;
  }

  .skills-container h1 {
    text-align: center;
    font-size: 1.8rem;
  }

  .skill-card {
    flex: 1 1 calc(80% - 2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skill-name {
    font-size: 1.1rem;
  }
}

/* Styles for tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .skills-card-container {
    margin-top: 4rem;
  }

  .skills-container h1 {
    font-size: 2rem;
  }

  .skill-card {
    flex: 0 1 calc(50% - 2rem);
  }
}
/* Styles for laptops */
@media (min-width: 769px) and (max-width: 1024px) {
  .skill-card {
    flex: 0 1 calc(50% - 2rem);
  }
}
