.contact-container {
  margin-top: 6rem;
}
.contact-container h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
  position: relative;
}

.contact-container h1::after {
  content: "";
  display: block;
  width: 8%;
  height: 3px;
  background: linear-gradient(90deg, #4f46e5, #38bdf8);
  /* background: linear-gradient(90deg, #f32170, #ff6b08); */
  margin: 0.5rem auto 0;
  border-radius: 5px;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.name-container,
.email-container,
.msg-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-container label {
  font-size: 16px;
}
.form-container input {
  width: 30rem;
  height: 2.3rem;
  border-radius: 5px;
  border: 1px solid rgba(164, 164, 190, 0.5);
  padding: 0.5rem;
}

.form-container input:focus {
  outline: 1px solid #aaaaaa;
}

.form-container textarea {
  width: 30rem;
  height: 5rem;
  border-radius: 5px;
  border: 1px solid rgba(164, 164, 190, 0.5);
  padding: 0.5rem;
}

.form-container textarea:focus {
  outline: 1px solid #aaaaaa;
}
.form-container button {
  padding: 1rem 5rem;
  border: 1px solid #38bdf8;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
  background-color: transparent;
  cursor: pointer;
}

.form-container button:hover {
  transform: translateY(-1px);
  border: 1px solid rgba(133, 133, 195, 0.5);
}
/* Success message style */
.status-message.success {
  color: green;
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 10px;
  text-align: center;
}

/* Error message style */
.status-message.error {
  color: red;
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 10px;
  text-align: center;
}

/* Styles for mobile */
@media (max-width: 480px) {
  .contact-container h1 {
    font-size: 2rem;
  }

  .contact-container input {
    width: 17rem;
    height: 1.8rem;
  }

  .form-container textarea {
    width: 17rem;
    height: 4rem;
  }

  .form-container button {
    padding: 0.6rem 2rem;
  }
}
/* Styles for tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .contact-container h1 {
    font-size: 2rem;
  }

  .contact-container input {
    width: 25rem;
    height: 2.2rem;
  }

  .form-container textarea {
    width: 25rem;
    height: 5rem;
  }

  .form-container button {
    padding: 0.8rem 3.5rem;
  }
}
